= provide(:title, "Sign In")

- flash.each do |key, msg|
  %div{ :class => 'text-center bg-' + key.to_s } 
    %span{ :class => 'h3 text-' + key.to_s}
      #{msg}

.jumbotron
  .pageheader

    %h1 
      Welcome to Service KPI Analysis from Saluma Solutions Ltd.

    %h1
      %small Your "everything you need to know about Service on one page" tool for Dealers and General Managers.




= form_for(:session, url: sessions_path) do |f|
  .container
    .form-group.col-xs-6
      = f.label(:email, "Email: ", :class => 'control-label')
      .input-group
        %span.input-group-addon @
        = f.text_field(:email, placeholder: "sample@email.com", :class => 'form-control')

    .form-group.col-xs-6
      = f.label(:password, "Password: ", :class => 'control-label')
      .input-group
        %span.input-group-addon *
        = f.password_field(:password, placeholder: "your password", :class => 'form-control')

    = f.submit "Log In", :class => 'btn btn-primary btn-lg center-block'