= provide(:title, "Manage Users")

- flash.each do |key, msg|
  %div{ :class => 'flash text-center bg-' + key.to_s } 
    %span{ :class => 'h3 text-' + key.to_s}
      #{msg}
      
.page-header
  %h1 Manage Users


.container-fluid 
  
  .pull-left.col-xs-12.col-md-2.btn-group-vertical
    = link_to 'Add New User', new_user_path, :class => 'btn btn-primary'
  .userlinks.pull-right.col-xs-12.col-md-2.btn-group-vertical
    = link_to 'Back', user_data_path, :class => 'btn btn-default'

  .col-xs-12.col-md-8.pull-right
    .btn-group-vertical.pull-left
      - @users.order(:name).each do |user|
        = link_to user.name, edit_user_path(user[:id]), :class => 'btn btn-default'
    
    %ul.emails.pull-left
      - @users.order(:name).each do |user|
        %li 
          = user.email
  