= form_for @user_datum  do |f|
  = f.hidden_field(:user_id, :value => @user_id)

  .form-group
    = f.label(:month, "Month:", :class => 'control-label')
    = f.date_select(:month, discard_day: true, :class => 'form-control')

  .form-group.col-xs-12.col-md-6
    = f.label(:total_gross, "Total Gross", :class => 'control-label')
    .input-group
      %span.input-group-addon $
      = f.number_field(:step => 'any', :total_gross, :class => 'form-control')
  
  .form-group.col-xs-12.col-md-6
    = f.label(:total_variable_expense, "Total Variable Expense", :class => 'control-label')
    .input-group
      %span.input-group-addon $
      = f.number_field(:step => 'any', :total_variable_expense, :class => 'form-control', :placeholder => 'Total Variable Expense')
  
  .form-group.col-xs-12.col-md-6
    = f.label(:total_salaries, "Total Salaries", :class => 'control-label')
    .input-group
      %span.input-group-addon $
      = f.number_field(:step => 'any', :total_salaries, :class => 'form-control', :placeholder => 'Total Salaries')  

  .form-group.col-xs-12.col-md-6
    = f.label(:total_labour_sales, "Total Labour Sales", :class => 'control-label')
    .input-group
      %span.input-group-addon $
      = f.number_field(:step => 'any', :total_labour_sales, :class => 'form-control', :placeholder => 'Total Labour Sales')

  .form-group.col-xs-12.col-md-6
    = f.label(:retail_labour_sales, "Retail Labour Sales", :class => 'control-label')
    .input-group
      %span.input-group-addon $
      = f.number_field(:step => 'any', :retail_labour_sales, :class => 'form-control', :placeholder => 'Retail Labour Sales')
  
  .form-group.col-xs-12.col-md-6
    = f.label(:number_of_techs, "Number of Technicians", :class => 'control-label')
    = f.number_field(:step => 'any', :number_of_techs, :class => 'form-control', :placeholder => 'Number of Technicians')
  
  .form-group.col-xs-12.col-md-6
    = f.label(:work_days_per_tech, "Work Days Per Technician", :class => 'control-label')
    = f.number_field(:step => 'any', :work_days_per_tech, :class => 'form-control', :placeholder => 'Work Days Per Technician')

  .form-group.col-xs-12.col-md-6
    = f.label(:retail_ro_count, "Retail RO Count", :class => 'control-label')
    = f.number_field(:step => 'any', :retail_ro_count, :class => 'form-control', :placeholder => 'Retail RO Count')

  .form-group.col-xs-12.col-md-6
    = f.label(:retail_hours_sold, "Retail Hours Sold", :class => 'control-label')
    = f.number_field(:step => 'any', :retail_hours_sold, :class => 'form-control', :placeholder => 'Retail Hours Sold')

  .form-group.col-xs-12.col-md-6
    = f.label(:total_hours_sold, "Total Hours Sold", :class => 'control-label')
    = f.number_field(:step => 'any', :total_hours_sold, :class => 'form-control', :placeholder => 'Total Hours Sold')




  - if @user_datum.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user_datum.errors.count, "error")} prohibited this user_datum from being saved:"
      %ul
        - @user_datum.errors.full_messages.each do |msg|
          %li= msg

  .actions.pull-left.col-xs-12.col-md-2.btn-group-vertical
    = f.submit 'Save', :class => 'btn btn-primary'

