= provide(:title, "Home")
- flash.each do |key, msg|
  %div{ :class => 'text-center bg-' + key.to_s } 
    %span{ :class => 'h3 text-' + key.to_s}
      #{msg}

- year_ago = (12.months.ago) .. (Time.now)

.container-fluid.above-fold
  .page-header
    %h1 
      KPI Analysis
      %small 
        Welcome, 
        = @current_user[:name] + '!'



  %nav.navigation.pull-left.col-xs-12.col-md-2.btn-group-vertical
    - if @user_data.where(month: year_ago) != []
      - @user_data.each do |user_datum|
        = link_to user_datum.month.strftime("%B, %Y"), edit_user_datum_path( user_datum ), :class => 'btn btn-default'
    = link_to 'Input New Metrics', new_user_datum_path, :class => 'btn btn-primary'

  .userlinks.pull-right.col-xs-12.col-md-2.btn-group-vertical

    - if correct_user?
      = link_to 'Register a New User', '/register', :class => 'btn btn-default'
    
    - if @goals.blank?
      = link_to 'Set your goals', new_goal_path, :class => 'btn btn-default'
    - else
      = link_to 'Update your goals', edit_goal_path(@goals[:id]), :class => 'btn btn-default'

    = link_to 'Log Out', signout_path, :method => :delete, :data => {:confirm => "Are you sure you want to log out?"}, :class => 'btn btn-default'

  .overview.col-xs-12.col-md-8
    .page-header
      %h1 
        Your Business At A Glance
    .splash_charts
      
          
    .datadump<
      
      - if !@goals.blank?
        - @goals.attributes.each_pair do |goal_name, goal_value|
          %div{ :class => 'goals', :data => { goal_name => goal_value }}

      - @user_data.where(month: year_ago).order([:month]).each do |user_datum|
        %div{ :class => 'total_hours_sold', :data => {month: user_datum[:month].strftime('%b, %y'), total_hours_sold: user_datum[:total_hours_sold] }}
        %div{ :class => 'retail_hours_sold', :data => {month: user_datum[:month].strftime('%b, %y'), retail_hours_sold: user_datum[:retail_hours_sold] }}
        %div{ :class => 'total_labour_sales', :data => {month: user_datum[:month].strftime('%b, %y'), total_labour_sales: user_datum[:total_labour_sales] }}
        %div{ :class => 'retail_labour_sales', :data => {month: user_datum[:month].strftime('%b, %y'), retail_labour_sales: user_datum[:retail_labour_sales] }}
        %div{ :class => 'number_of_techs', :data => {month: user_datum[:month].strftime('%b, %y'), number_of_techs: user_datum[:number_of_techs] }}
        %div{ :class => 'work_days_per_tech', :data => {month: user_datum[:month].strftime('%b, %y'), work_days_per_tech: user_datum[:work_days_per_tech] }}
        %div{ :class => 'retail_ro_count', :data => {month: user_datum[:month].strftime('%b, %y'), retail_ro_count: user_datum[:retail_ro_count] }}
        %div{ :class => 'total_variable_expense', :data => {month: user_datum[:month].strftime('%b, %y'), total_variable_expense: user_datum[:total_variable_expense] }}
        %div{ :class => 'total_salaries', :data => {month: user_datum[:month].strftime('%b, %y'), total_salaries: user_datum[:total_salaries] }}
        %div{ :class => 'total_gross', :data => {month: user_datum[:month].strftime('%b, %y'), total_gross: user_datum[:total_gross] }}
    
    %section.summaries
      %h1 Paragraph summaries
      %article 
        %h1.h3 Retail Hours Per RO
        %p These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries.
      %article 
        %h1.h3 Hours Per Tech, Per Day
        %p These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries.
      %article 
        %h1.h3 Retail RO Count
        %p These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries.
       
      %article 
        %h1.h3 Effective Labour Rate
        %p These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries.

.clearfix

.container-fluid
  %h1 Detailed Statistics
  .detail_charts

  %section.pageheader
    %h1 Detailed summaries
    %article 
      %h1.h3 Retail Hours Per RO
      %p These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries.
    %article 
      %h1.h3 Hours Per Tech, Per Day
      %p These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries.
    %article 
      %h1.h3 Retail RO Count
      %p These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries.
     
    %article 
      %h1.h3 Effective Labour Rate
      %p These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries.

    %article 
      %h1.h3 Salaries as a Percentage of Gross
      %p These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries.

    %article 
      %h1.h3 Expenses as a Percent of Gross
      %p These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries.

:coffeescript
  datadump = $('.datadump')
  splashcharts = $('.splash_charts')
  detailcharts = $('.detail_charts')
  splashcharts.append('<p class="h2"><small>Sorry, no metrics to process... Yet!</small></p>') if datadump[0].innerHTML == ''
  detailcharts.append('<p class="h2"><small>Sorry, no metrics to process... Yet!</small></p>') if datadump[0].innerHTML == ''
- if @user_data.where(month: year_ago) != []
  = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/d3/3.4.1/d3.js'
  = javascript_include_tag 'retailhoursperroSplash'
  = javascript_include_tag 'hourspertechperdaySplash'
  = javascript_include_tag 'retailrocountSplash'
  = javascript_include_tag 'effectivelabourrateSplash'

  = javascript_include_tag 'retailhoursperro'
  = javascript_include_tag 'hourspertechperday'
  = javascript_include_tag 'retailrocount'
  = javascript_include_tag 'effectivelabourrate'
  = javascript_include_tag 'salariespercentgross'
  = javascript_include_tag 'variableexpaspercentgross'