= provide(:title, "Home")
- flash.each do |key, msg|
  %div{ :class => 'text-center bg-' + key.to_s } 
    %span{ :class => 'h3 text-' + key.to_s}
      #{msg}

- year_ago = (12.months.ago) .. (Time.now)
.container-fluid
.page-header
  %h1 
    KPI Analysis
    %small 
      Welcome, 
      = @current_user[:name] + '!'

.userlinks 
  = link_to 'Input New Metrics', new_user_datum_path, :class => 'btn btn-primary'
    
    

  = if correct_user?
    - link_to 'Register a New User', '/register', :class => 'btn btn-default'

  = link_to 'Log Out', signout_path, :method => :delete, :data => {:confirm => "Are you sure you want to log out?"}, :class => 'btn btn-default'

%nav.navigation
  %ul 
    - if @user_data.where(month: year_ago) != []
      - @user_data.each do |user_datum|
        %li= link_to user_datum.month.strftime("%B, %Y"), user_datum
    
  = link_to 'Input New Metrics', new_user_datum_path, :class => 'btn btn-primary'
.container
  .overview
    .splash_charts
      
          
    .datadump<
      - @user_data.where(month: year_ago).order([:month]).each do |user_datum|
        %div{ :class => 'total_hours_sold', :data => {month: user_datum[:month].strftime('%b, %Y'), total_hours_sold: user_datum[:total_hours_sold] }}
        %div{ :class => 'retail_hours_sold', :data => {month: user_datum[:month].strftime('%b, %Y'), retail_hours_sold: user_datum[:retail_hours_sold] }}
        %div{ :class => 'total_labour_sales', :data => {month: user_datum[:month].strftime('%b, %Y'), total_labour_sales: user_datum[:total_labour_sales] }}
        %div{ :class => 'retail_labour_sales', :data => {month: user_datum[:month].strftime('%b, %Y'), retail_labour_sales: user_datum[:retail_labour_sales] }}
        %div{ :class => 'number_of_techs', :data => {month: user_datum[:month].strftime('%b, %Y'), number_of_techs: user_datum[:number_of_techs] }}
        %div{ :class => 'work_days_per_tech', :data => {month: user_datum[:month].strftime('%b, %Y'), work_days_per_tech: user_datum[:work_days_per_tech] }}
        %div{ :class => 'retail_ro_count', :data => {month: user_datum[:month].strftime('%b, %Y'), retail_ro_count: user_datum[:retail_ro_count] }}
        %div{ :class => 'total_variable_expense', :data => {month: user_datum[:month].strftime('%b, %Y'), total_variable_expense: user_datum[:total_variable_expense] }}
        %div{ :class => 'total_salaries', :data => {month: user_datum[:month].strftime('%b, %Y'), total_salaries: user_datum[:total_salaries] }}
        %div{ :class => 'total_gross', :data => {month: user_datum[:month].strftime('%b, %Y'), total_gross: user_datum[:total_gross] }}
  .clearfix
  %h2 Paragraph summaries
  %p These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries.
  %p These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. 
  %p These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. 
  %p These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries. These are summaries.  
.container-fluid
  %h1 Detailed Statistics
  .detail_charts
:coffeescript
  datadump = $('.datadump')
  splashcharts = $('.splash_charts')
  detailcharts = $('.detail_charts')
  splashcharts.append('<p class="h2"><small>Sorry, no metrics to process... Yet!</small></p>') if datadump[0].innerHTML == ''
  detailcharts.append('<p class="h2"><small>Sorry, no metrics to process... Yet!</small></p>') if datadump[0].innerHTML == ''
- if @user_data.where(month: year_ago) != []
  = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/d3/3.4.1/d3.js'
  = javascript_include_tag 'retailhoursperroSplash'
  = javascript_include_tag 'hourspertechperdaySplash'
  = javascript_include_tag 'retailrocountSplash'
  = javascript_include_tag 'effectivelabourrateSplash'

  = javascript_include_tag 'retailhoursperro'
  = javascript_include_tag 'hourspertechperday'
  = javascript_include_tag 'retailrocount'
  = javascript_include_tag 'effectivelabourrate'
  = javascript_include_tag 'salariespercentgross'
  = javascript_include_tag 'variableexpaspercentgross'