= provide(:title, @user_datum.month.strftime("%B %Y"))

- flash.each do |key, msg|
  %div{ :class => 'text-center bg-' + key.to_s } 
    %span{ :class => 'h3 text-' + key.to_s}
      #{msg}

.page-header
  %h1
    = @user_datum.month.strftime("%B %Y")


.container
  .btn-group
    = link_to 'Edit', edit_user_datum_path(@user_datum), :class => 'btn btn-default'
    = link_to 'Delete', @user_datum, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn  btn-default'
    = link_to 'Back', user_data_path, :class => 'btn  btn-default'

  .chart



  %table.table
    %tr
      %th Total Hours Sold
      %td#total_hours_sold
        = @user_datum[:total_hours_sold]
    %tr
      %th Retail Hours Sold
      %td#retail_hours_sold
        = @user_datum[:retail_hours_sold]
    %tr
      %th Total Labour Sales
      %td#total_labour_sales
        = @user_datum[:total_labour_sales]
    %tr
      %th Retail Labour Sales
      %td#retail_labour_sales
        = @user_datum[:retail_labour_sales]
    %tr
      %th Work Days Per Tech
      %td#work_days_per_tech 
        = @user_datum[:work_days_per_tech]
    %tr
      %th Number of Techs
      %td#number_of_techs 
        = @user_datum[:number_of_techs]
    %tr
      %th Retail RO Count
      %td#retail_ro_count 
        = @user_datum[:retail_ro_count]
    %tr
      %th Total Gross
      %td#total_gross 
        = @user_datum[:total_gross]
    %tr
      %th Total Variable Expenses
      %td#total_variable_expense 
        = @user_datum[:total_variable_expense]
    %tr
      %th Total Salaries
      %td#total_salaries 
        = @user_datum[:total_salaries]

  = debug @user_datum


  