= provide(:title, @user_datum.month.strftime("%B %Y"))

%p#notice= notice

%h1
  = @user_datum.month.strftime("%B %Y")

.chart



%table
  %tr
    %th Total Hours Sold
    %th Retail Hours Sold
    %th Total Labour Sales
    %th Retail Labour Sales
    %th Work Days Per Tech
    %th Number of Techs
    %th Retail RO Count
    %th Total Gross
    %th Total Variable Expenses
    %th Total Salaries
  %tr
    %td#total_hours_sold
      = @user_datum[:total_hours_sold]
    %td#retail_hours_sold
      = @user_datum[:retail_hours_sold]
    %td#total_labour_sales
      = @user_datum[:total_labour_sales]
    %td#retail_labour_sales
      = @user_datum[:retail_labour_sales]
    %td#work_days_per_tech 
      = @user_datum[:work_days_per_tech]
    %td#number_of_techs 
      = @user_datum[:number_of_techs]
    %td#retail_ro_count 
      = @user_datum[:retail_ro_count]
    %td#total_gross 
      = @user_datum[:total_gross]
    %td#total_variable_expense 
      = @user_datum[:total_variable_expense]
    %td#total_salaries 
      = @user_datum[:total_salaries]

  

= link_to 'Edit', edit_user_datum_path(@user_datum)
\|
= link_to 'Delete', @user_datum, :method => :delete, :data => { :confirm => 'Are you sure?' }
\|
= link_to 'Back', user_data_path

= debug @user_datum


  