= form_for @goal  do |f|
  = f.hidden_field(:user_id, :value => @user_id)

  .form-group.col-xs-6
    = f.label(:retail_hrs_per_ro, "Retail Hours Per RO", :class => 'control-label')
    .input-group
      %span.input-group-addon $
      = f.number_field(:step => 'any', :retail_hrs_per_ro, :class => 'form-control', :placeholder => 'Retail Hours Per RO')
  
  .form-group.col-xs-6
    = f.label(:elr_retail, "Effective Labour Rate", :class => 'control-label')
    .input-group
      %span.input-group-addon $
      = f.number_field(:step => 'any', :elr_retail, :class => 'form-control', :placeholder => 'Effective Labour Rate')
  
  .form-group.col-xs-6
    = f.label(:retail_ro_count, "Retail RO Count", :class => 'control-label')
    .input-group
      %span.input-group-addon $
      = f.number_field(:step => 'any', :retail_ro_count, :class => 'form-control', :placeholder => 'Retail RO Count')  

  .form-group.col-xs-6
    = f.label(:tech_hrs_per_day, "Hours Per Tech, Per Day", :class => 'control-label')
    .input-group
      %span.input-group-addon $
      = f.number_field(:step => 'any', :tech_hrs_per_day, :class => 'form-control', :placeholder => 'Hours Per Tech Per Day')

  .form-group.col-xs-6
    = f.label(:salaries_as_percent_gross, "Salaries as % of Gross", :class => 'control-label')
    = f.number_field(:step => 'any', :salaries_as_percent_gross, :class => 'form-control', :placeholder => 'Salaries as % of Gross')
  
  .form-group.col-xs-6
    = f.label(:other_as_percent_gross, "Expenses as % of Gross", :class => 'control-label')
    = f.number_field(:step => 'any', :other_as_percent_gross, :class => 'form-control', :placeholder => 'Expenses as % of Gross')
  
  
  - if @goal.errors.any?
    #error_explanation
      %h2= "#{pluralize(@goal.errors.count, "error")} prohibited this goal from being saved:"
      %ul
        - @goal.errors.full_messages.each do |msg|
          %li= msg

  .actions.pull-left.col-xs-12.col-md-2.btn-group-vertical
    = f.submit 'Save', :class => 'btn btn-primary'
