= provide(:title, "Edit Goals")

- flash.each do |key, msg|
  %div{ :class => 'flash text-center bg-' + key.to_s } 
    %span{ :class => 'h3 text-' + key.to_s}
      #{msg}
      
.page-header
  %h1 Edit Goals

.container-fluid
  
  .userlinks.pull-right.col-xs-12.col-md-2.btn-group-vertical
    = link_to 'Back', '/user_data', :class => 'btn btn-default'
    = link_to 'Delete', goal_path, :method => :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default'
  .col-xs-12.col-md-8.pull-right
    
    = render 'form'
