!!!
%html
  %head
    %title
      = yield(:title) + " | KPI Metrics by Saluma Solutions"
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %meta{:id => 'viewport', :name => 'viewport', :content => 'width=device-width'}
  %body
    = yield
